<ul class="publication-list">
  {% assign publications = data[1] | sort: 'releaseDate' | reverse %}
  {% for content in publications %}
    <li>
      <strong><a href="{{ content.url }}">{{ content.name }}</a></strong>
      {% if content.publisher %} – {{ content.publisher }}{% endif %}
      {% if content.releaseDate %}
        – {{ content.releaseDate | split: '-' | join: '.' }}
      {% endif %}
      {% if content.summary %}
        <br><em>{{ content.summary }}</em>
      {% endif %}
    </li>
  {% endfor %}
</ul>